.sidebar {
    flex: 0.13; /* 20% */
}

/* .sidebarFixed {
    position: fixed;
    width: 12%;
} */

.sidebar > hr {
    height: 1px;
    border: 0;
    background: lightgray;
    margin-top: 10px;
    margin-bottom: 10px;
}